// colors 
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray-900: #3D3B48;
$color-gray-200: #DEDEDE;
$color-purple-700: #5E54A4;
$color-purple-400: #A6A1CF;
$color-purple-350: #BAB7D4;
$color-green-400: #38CC8B;
$color-green-300: #77E2B3;
$color-red-400: #FF7979;

//spacings
$spacing-0: 0px;
$spacing-100: 8px;
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-600: 48px;
$spacing-800: 64px;
