@import '../../../styles/abstract/variables';
@import '../../../styles/abstract/mixins';
@import '../../../styles/base/typography';

.intro-component {
    &__form {
        display: flex;
        flex-direction: column;
        gap: $spacing-300;
        flex-basis: 50%;
    }

    &__span {
        font-weight: 700;
    }

    .form {
        background: $color-white;
        padding: $spacing-300;
        border-radius: 10px;
        box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);

        @include tablet {
            gap: $spacing-300;
            padding: $spacing-400 $spacing-500;
        }

        @include desktop {
            gap: $spacing-300;
            padding: $spacing-400 $spacing-500;
        }

        &__container {
            display: flex;
            flex-direction: column;
            gap: $spacing-200;
        }

        &__eye-icon {
            position: absolute;
            top: 14px;
            right: 32px;
            z-index: 2;
        }

        &__addition {
            @include text-preset-5-medium;
            text-align: center;
            color: $color-purple-400;
            margin-block-start: $spacing-100;
        }

        &__conditions-link,
        &__login-link {
            font-weight: 700;
            color: $color-red-400;
        }

        &__field {
            position: relative;

            &--error {
                &::after {
                    content: '';
                    background-image: url('../../../assets/icons/icon-error.svg');
                    background-size: contain;
                    position: absolute;
                    right: 32px;
                    top: 14px;
                    height: 24px;
                    width: 24px;
                    z-index: 2;
                }

                &.form__field--password::after {
                    display: none;
                }
            }
        }

        &__error {
            text-align: right;

            &-text {
                @include text-preset-5-medium-italic;
                color: $color-red-400;
            }
        }

        &__input {
            width: 100%;
            outline: none;
            border: 1px solid $color-gray-200;
            border-radius: 5px;
            padding: $spacing-200 $spacing-300;

            @include tablet {
                padding: $spacing-200 $spacing-400;
            }

            @include desktop {
                padding: $spacing-200 $spacing-400;
            }

            &::placeholder {
                @include text-preset-4-regular;
                letter-spacing: 0.25px;
                color: $color-gray-900;
                line-height: 1.5;
                opacity: 0.75;
            }

            &--error {
                border: 2px solid $color-red-400;
            }
        }
    }
}