@mixin text-preset-1-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.1;
    letter-spacing: -0.5px;
}
@mixin text-preset-2-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.3;
    letter-spacing: -0.3px;
}
@mixin text-preset-3-medium {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0px;
}
@mixin text-preset-4-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.75;
    letter-spacing: 2px;
}
@mixin text-preset-4-semibold {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.75;
    letter-spacing: 2px;
}
@mixin text-preset-4-regular {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.75;
    letter-spacing: 2px;
}
@mixin text-preset-5-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 1.9;
    letter-spacing: 0px;
}
@mixin text-preset-5-medium {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.9;
    letter-spacing: 0px;
}
@mixin text-preset-5-medium-italic {
    font-family: 'Poppins', italic;
    font-style: italic;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.55;
    letter-spacing: 0px;
}